.powerlink {font-size:10px;line-height:20px;margin:0;padding:0;margin-top:16px;transition:all ease .3s;background-color:#fff;width:100%;overflow:hidden}
.powerlink ul,ol {margin:0;padding:0;list-style:none}
.powerlink img {border:0;vertical-align:middle;margin:0;padding:0}
.powerlink em,cite {font-style:normal;margin:0;padding:0}
.powerlink a {color:inherit;text-decoration:none}
.powerlink mark {color:inherit;font-weight:bold;background:none;padding:0}
.powerlink .toplink {height:52px;margin-top:0px;padding:0 20px;line-height:52px;font-size:16px;font-weight:700;background-color:#f8fafc;color:#475067;border:1px solid #EAEDF4}
.powerlink .tag_comps {display:inline-block;margin-top:15px;margin-left:5px;padding:2px 4px;border-radius:4px;background:var(--gray30);color:var(--gray80);font-size:13px;font-weight:700;line-height:normal}
.powerlink .reg_link {float:right;font-size:13px;font-weight:400;color:#67738e;text-decoration:underline}
.powerlink .powerlink_list {padding:10px 0;border:1px solid #EAEDF4;border-top:0}
.powerlink .list_item .lst_cont {width:100%;padding:10px 20px;box-sizing:border-box}
.powerlink.none-img .list_item.img_type .lst_cont .img_area {display:none}
.powerlink .list_item .img_link {display:block;position:relative}
.powerlink .list_item .tit_wrap,.powerlink .list_item .txt_area {overflow:hidden}
.powerlink .list_item .tit_area {display:block;overflow:hidden;max-width:100%}
.powerlink .list_item .tit_area .tit {display:block;overflow:hidden;max-width:100%;margin-bottom:-1px;line-height:1.65;text-overflow:ellipsis;white-space:nowrap;font-size:14px;font-weight:700;color:#292e41}
.powerlink .list_item .tit_area .tit mark {color:#2D65F2}
.powerlink .list_item .tit_area .tit .same_search {color:#4876ef}
.powerlink .list_item .url_area {display:block;margin:2px 0 6px}
.powerlink .list_item .url_area .url {display:block}
.powerlink .list_item .url_area .url a {display:block;max-width:100%;overflow:hidden;font-size:12px;color:#67738e;white-space:nowrap;text-overflow:ellipsis}
.powerlink .list_item .lst_cont .desc {font-size:13px;color:#67738e}
.powerlink .list_item .desc.up {display:none}
.powerlink .list_item .desc.down {display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.powerlink.half_li .powerlink_list,.powerlink.one_third_li .powerlink_list {display:flex;flex-wrap:wrap}
.powerlink.half_li .powerlink_list li {width:50%;box-sizing:border-box}
.powerlink.one_third_li .powerlink_list li {width:33.333%;box-sizing:border-box}